name: GitHub Metrics

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: Zerograde

          template: classic
          base: header, community
          config_output: svg
          config_display: large

          plugin_calendar: yes
          plugin_languages: yes
          plugin_languages_limit: 6


